services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  postgres:
    image: postgres:14.15-alpine3.20
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: cdp_example_node_postgres_be
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 1s
      timeout: 5s
      retries: 10
    networks:
      - cdp-tenant
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/data

  liquibase:
    image: liquibase/liquibase:4
    depends_on:
      postgres:
        condition: service_started
    volumes:
      - ./changelog:/liquibase/changelog
    command: --url=jdbc:postgresql://postgres:5432/cdp_example_node_postgres_be --username=postgres --password=postgres --changelog-file=changelog/db.changelog.xml update
    networks:
      - cdp-tenant
    restart: no

  cdp-sbom-explorer-backend:
    build:
      context: .
      target: development
    ports:
      - '3003:3003'
    links:
      - 'localstack:localstack'
    depends_on:
      localstack:
        condition: service_healthy
      liquibase:
        condition: service_completed_successfully
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3001
      NODE_ENV: development
      LOCALSTACK_ENDPOINT: http://localstack:4566
    networks:
      - cdp-tenant
    volumes:
      - ./src:/home/node/src
      - ./package.json:/home/node/package.json

################################################################################

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant

volumes:
  postgres-data:
